* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #e0f7fa, #139120);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: green;
}

.login-options {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.login-options button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.login-options button:hover {
    background-color: #317530;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}


.login-card {
    width: 180px;
    padding: 1rem;
    background-color: #ffffffdd;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.login-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.login-card h3 {
    font-size: 1.1rem;
    color: #055a0b;
}
.faby{
    border-radius: px;
}
